<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penjemuran</title>
    <link rel="stylesheet" href="css/drying.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<body>
    <div class="container">
        <div class="container-nav">
            <ul>
                <li><a href="dashboard.html"><img src="assets/home-alt.svg" alt=""></a></li>
                <li><a href="#cart"><img src="assets/cart.svg" alt=""></a></li>
                <li><a href="#notification"><img src="assets/bell.svg" alt=""></a></li>
                <li><a href="drying.html" class="active"><img src="assets/sun.svg" alt=""></a></li>
                <li><a class="add" href="add-form.html"><img src="assets/plus.svg" alt=""></a></li>
            </ul>
        </div>
        <div class="form">
            <div class="container-content">
                <div class="content-header">
                  <h2>LIST PENJEMURAN</h2>
                </div>
                <table>
                  <tr>
                      <th>Id</th>
                      <th>Kode Penerimaan</th>
                      <th>Nama Gabah</th>
                      <th>Berat Kotor</th>
                      <th>Total Potongan</th>
                      <th>Total pot zak</th>
                      <th>Total Berat</th>
                      <th>Total Bayar</th>
                      <th>Tanggal Data</th>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>0001</td>
                      <td>LK1001</td>
                      <td>6Kg</td>
                      <td>1%</td>
                      <td>2%</td>
                      <td>7Kg</td>
                      <td>Rp 120.000</td>
                      <td>1-1-1999</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>0002</td>
                      <td>LK1002</td>
                      <td>3Kg</td>
                      <td>0%</td>
                      <td>1%</td>
                      <td>3.2Kg</td>
                      <td>Rp 60.000</td>
                      <td>12-1-1999</td>
                  </tr>
                </table>
              </div>
        </div>
        
    </div>   
</body>
</html>